.wrapper {
    padding: 10px;
    margin: 50px;
    font-family: 'Roboto';
}

.promo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.img {
    display: flex;
    background-size: contain;
    margin: 0px 10px 0px 0px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url('../img/nav.svg');
}

.img__1 {
    display: flex;
    background-size: contain;
    margin: 0px 10px 0px 0px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url('../img/bokal.svg');
}

.img__2 {
    display: flex;
    background-size: contain;
    margin: 0px 10px 0px 0px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url('../img/compas.svg');
}

.img__3 {
    display: flex;
    background-size: contain;
    margin: 0px 10px 0px 0px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url('../img/photo.svg');
}

.img__4 {
    display: flex;
    background-size: contain;
    margin: 0px 10px 0px 0px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url('../img/planet.svg');
}

.img__5 {
    display: flex;
    background-size: contain;
    margin: 0px 20px 0px 0px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url('../img/sun.svg');
}